<header class="shadow-sm">
  <!--<span class="border-end border-dark">-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <p class="navbar-brand px-5 border">LOGO</p>

      <% if customer_signed_in? %>
      <div class="d-flex justify-content-end">
        <li class="nav-item btn btn-outline-secondary list-unstyled mx-3 mt-3 mb-4">
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark border rounded' %>
        </li>
      </div>
      <% else %>
      <div class="d-flex justify-content-end">
        <li class="nav-item btn btn-outline-secondary list-unstyled mx-3 mt-3 mb-4">
          <%= link_to 'About', about_path, class: 'nav-link text-dark' %>
        </li>
        <li class="nav-item btn btn-outline-secondary list-unstyled mx-3 mt-3 mb-4">
          <%= link_to '商品一覧', items_path, class: 'nav-link text-dark' %>
        </li>
        <li class="nav-item btn btn-outline-secondary list-unstyled mx-3 mt-3 mb-4">
          <%= link_to '新規登録', new_customer_registration_path, class: 'nav-link text-dark' %>
        </li>
        <li class="nav-item btn btn-outline-secondary list-unstyled ml-3 mt-3 mb-4">
          <%= link_to 'ログイン', new_customer_session_path, class: 'nav-link text-dark' %>
        </li>
      </div>
      <% end %>
      </div>
    </nav>
  <!--</span>-->
</header>