<!--タイトル-->
<div class="container my-4">
  <div class="row mb-4">
    <div class="col-4">
      <div class="row align-items-center">
        <div class="col-md-7 offset-5 justify-content-center">
          <h5 class="bg-gray text-center">マイページ</h5>
        </div>
      </div>
    </div>
  </div>

<!--登録情報-->
  <div class="row mb-3 justify-content-start">
    <div class="col-4">
      <div class="row align-items-center">
        <div class="col-4">
          <strong>登録情報</strong>
        </div>
        <div class="col-6">
          <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success font-weight-bold btn-block" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <table class="col-8 table table-bordered">
        <tr>
          <th class="col-3 bg-gray border border-dark">氏名</th>
          <td class="border border-dark"><%= @customer.last_name %>  <%= @customer.first_name %></td>
        </tr>
        <tr>
          <th class="bg-gray border border-dark">カナ</th>
          <td class="border border-dark"><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th class="bg-gray border border-dark">郵便番号</th>
          <td class="border border-dark"><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th class="bg-gray border border-dark">住所</th>
          <td class="border border-dark"><%= @customer.address %></td>
        </tr>
        <tr>
          <th class="bg-gray border border-dark">電話番号</th>
          <td class="border border-dark"><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th class="bg-gray border border-dark">メールアドレス</th>
          <td class="border border-dark"><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mb-3 justify-content-start">
    <div class="col-4">
      <div class="row align-items-center">
        <div class="col-4">
          <strong>配送先</strong>
        </div>
        <div class="col-7">
          <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary font-weight-bold btn-block" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-4">
      <div class="row align-items-center">
        <div class="col-4">
          <strong>注文履歴</strong>
        </div>
        <div class="col-7">
          <%= link_to "一覧を見る", orders_path, class: "btn btn-primary font-weight-bold btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>