<!--タイトル-->
<div class="container">
  <div class="row">
    <div class="col-md-4.offset-md-8">
      <h3 class="bg-light">商品編集</h3>
    </div>
  </div>
</div>

<!--編集-->
<%= form_with model: @item, url: admin_item_path do |f| %>

  <div class="field">
    <%= f.label :"商品名" %>
    <%= f.text_field :name %><br />
    <%= f.label :"商品説明" %>
    <%= f.text_field :introduction, placeholder: "ここに説明文を記述します" %><br />
    <%= f.label :"ジャンル" %>
    <%= f.text_field :is_active, placeholder: "" %><br />
    <%= f.label :"税抜価格" %>円
    <%= f.text_field :price, placeholder: "1000" %><br />
  </div>

  <div class="actions">
    <%= f.submit "変更を保存", class: "btn btn-success" %>
  </div>
<% end %>