<!--タイトル-->
<div class="container" style="min-height: 500px;">
  <div class="row my-4">
    <div class="col-3">
      <h5 class="bg-gray">商品編集</h5>
    </div>
  </div>

<!--編集-->
<%= form_with model: @item, url: admin_item_path do |f| %>
  <div class="row my-1">
    <div class="col-2 offset-1">
      <%= f.label :"商品画像" %>
    </div>
    <div class="col-7">
      <%= f.file_field :image, accept: "image/*" %><br />
    </div>
      <%= f.label :"商品名" %>
    <div class="col-2 offset-1">
    </div>
      <%= f.text_field :name %>
    <div class="col-7">
    </div>
      <%= f.label :"商品説明" %>
    <div class="col-2 offset-1">
    </div>
      <%= f.text_field :introduction %>
    <div class="col-7">
    </div>
      <%= f.label :"ジャンル" %>
    <div class="col-2 offset-1">
    </div>
      <%= f.select :genre_id, Genre.all.map{ |genre| [genre.name, genre.id]} %>
    <div class="col-7">
    </div>  
      <%= f.label :"税抜価格" %>円
    <div class="col-2 offset-1">
    </div>
      <%= f.text_field :price %>
    <div class="col-7">
    </div>  
      <%= f.label :"販売ステータス" %>
    <div class="col-2 offset-1">
    </div>
      <%= f.radio_button :is_active, true, :checked => @item.is_active == true %>
      <%= f.label :is_active, "販売中", {value: :on_sale, style: "display: inline-block;"} %>
      <%= f.radio_button :is_active, false, :checked => @item.is_active == false %>
      <%= f.label :is_active, "販売停止中", {value: :stopping_sales, style: "display: inline-block;"} %><br />
  
    </div>
  
    <div class="actions">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
<% end %>
</div>