<!--タイトル-->
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h3 class="bg-light">商品編集</h3>
    </div>
  </div>
</div>

<!--編集-->
<%= form_with model: @item, url: admin_item_path do |f| %>

  <div class="field">
    <%= f.label :"商品画像" %>
    <%= f.file_field :image, accept: "image/*" %><br />
    <%= f.label :"商品名" %>
    <%= f.text_field :name %><br />
    <%= f.label :"商品説明" %>
    <%= f.text_field :introduction %><br />
    <%= f.label :"ジャンル" %>
    <%= f.select :genre_id, Genre.all.map{ |genre| [genre.name, genre.id]} %><br />
    <%= f.label :"税抜価格" %>円
    <%= f.text_field :price %><br />
    <%= f.label :"販売ステータス" %>
    <%= f.radio_button :is_active, true, :checked => @item.is_active == true %>
    <%= f.label :is_active, "販売中", {value: :on_sale, style: "display: inline-block;"} %>
    <%= f.radio_button :is_active, false, :checked => @item.is_active == false %>
    <%= f.label :is_active, "販売停止中", {value: :stopping_sales, style: "display: inline-block;"} %><br />

  </div>

  <div class="actions">
    <%= f.submit "変更を保存", class: "btn btn-success" %>
  </div>
<% end %>