<!--タイトル-->
<div class="container">
  <div class="row">
    <div class="col-md-4.offset-md-8">
      <h3 class="bg-light">商品一覧</h3>
    </div>
    <%= link_to new_admin_item_path, class: "shadow p-3 mb-5 bg-white rounded" do %>
      <i class="fal fa-plus-circle"></i>
    <% end %>
  </div>
</div>

<!--一覧-->
<div class="container">
  <div class="row">
    <div class="col-md-11">
      <table class="table">
        <tr class="bg-light">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td>
            <%= link_to item.name, admin_item_path(item.id) %>
          </td>
          <td><%= item.price %></td>
          <td><%= item.genre_name %></td>
          <td><%= item.is_active %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<!--ページネーション-->