<div class="container-md m-0">
  <div class="row mt-4">
<!--ジャンル検索-->
    <div class="col-md-2">
      <%= render 'genre' %>
    </div>
<!--トップ-->
    <div class="col-md-10 d-flex align-items-center">
      <div class="image jumbotron">
        <div class="card ml-5 pr-3 py-3" style="width: 350px;">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </div>
      </div>
    </div>
  </div>
<!--新着商品-->
  <div class="row mt-4">
    <div class="col offset-md-2">
      <h4><strong>新着商品</strong></h4>
      <div class="d-flex">
        <% @items.limit(4).each do |item| %>
          <div class="row">
            <div class="col">
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_image(150,150) %>
            　   <p><%= item.name %></p>
            　   ¥<%= item.price.to_s(:delimited) %>
            　<% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col offset-md-10">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>
  </div>
</div>

