<!--タイトル-->
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h5 class="bg-gray px-1 text-center"><strong><%= @customer.last_name %><%= @customer.first_name %></strong>さんの<strong>会員情報編集</strong></h5>
    </div>
  </div>


  <!--編集-->
  <%= form_with model: @customer, url: admin_customer_path do |f| %>
  <div class="row mb-2">
    <div class="col-md-3">
      <%= f.label :会員ID %>
    </div>
    <div class="col-md-9">
      <%= @customer.id %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-3">
      <%= f.label :氏名 %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "rounded" %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "mx-5 rounded"  %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-3">
      <%= f.label :フリガナ %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "mx-5 rounded" %>
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "rounded" %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-3">
      <%= f.label :郵便番号 %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "rounded" %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-3">
      <%= f.label :住所 %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control rounded"  %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-3">
      <%= f.label :電話番号 %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "rounded" %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-3">
      <%= f.label :email %>
    </div>
    <div class="col-md-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded" %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-3">
      <%= f.label :"会員ステータス" %>
    </div>
    <div class="col-md-9">
      <%= f.radio_button :is_deleted, false, :checked => @customer.is_deleted == false %>
      <%= f.label :is_deleted, "有効", {value: :valid, style: "display: inline-block;"} %>
      <%= f.radio_button :is_deleted, true, :checked => @customer.is_deleted == true %>
      <%= f.label :is_deleted, "退会", {value: :unsubscribe, style: "display: inline-block;"} %><br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>
