<!--タイトル-->
<div class="container">
  <div class="row">
    <div class="col-md-4.offset-md-8">
      <h3 class="bg-light"><%= @customer.last_name @customer.first_name %>さんの<strong>会員詳細</strong></h3>
    </div>
  </div>
</div>

<!--一覧-->
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th>会員ID</th>
          <th><%= @customer.id %></th>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name @customer.first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.last_name_kana @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td><%= @customer.is_deleted %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
