<!--タイトル-->
<div class="container mx-2">
  <div class="row mb-4 mt-4">
    <div class="col-3 offset-1">
      <h5 class="bg-gray text-center ml-3 mr-5">配送先編集</h5>
    </div>
  </div>

<!--登録-->
  <%= form_with model: @address do |f| %>
  <div class="row">
    <div class="col-2 ml-5 px-0">
      <p class="small">郵便番号(ハイフンなし)</p>
    </div>
    <div class="col-3 ml-2 p-0">
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "rounded ml-2 w-75" %>
    </div>
  </div>
  <div class="row">
    <div class="col-2 ml-5 px-0">
      <p class="small">住所</p>
    </div>
    <div class="col-6 ml-2 p-0">
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "rounded ml-2 w-100" %>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-2 ml-5 px-0">
      <p class="small">宛名</p>
    </div>
    <div class="col-3 ml-2 p-0">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "rounded ml-2 w-75" %>
    </div>
    <div class="col-3 offset-3 d-flex justify-content-end">
      <%= f.submit '変更内容を保存', class: "btn btn-success font-weight-bold text-center w-75" %>
    </div>
  </div>
  <% end %>
  <div class="row mb-5 mt-5"></div>
  <div class="row mb-5 mt-5"></div>
  <div class="row mb-5 mt-5"></div>
  <div class="row mb-5 mt-5"></div>
  <div class="row mb-5 mt-5"></div>
</div>