<!--タイトル-->
<div class="container">
  <div class="row mb-4">
    <div class="col-md-3 offset-1">
      <h5 class="bg-gray px-1 text-center">ショッピングカート</h5>
    </div>
  </div>

<!--カート-->
  <div class="row">
    <div class="col-md-9 align-self-start">
      <table class="table">
        <tr class="bg-light">
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <div class="row">
              <div class="col-md-3">
                <%= image_tag cart_item.item.get_imag(30,30) %>
              </div>
              <div class="col-md-9">
                <%= cart_item.item.name %>
              </div>
            </div>
          </td>
          <td><%= cart_item.item.add_tax_price.to_s(:delimited)  %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.item.add_tax_price * cart_item.amount.to_s(:delimited) %></td>
          <td>
          <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
            <div class="row">
              <div class="col-md-7 align-self-center">
                <%= f.select :making_status, options_for_select(OrderDetail.making_statuses_i18n.invert, { :selected => order_detail.making_status }), { class: "form-control d-inline-flex"} %>
              </div>
              <div class="col-md-5">
                <%= f.submit '更新', class: "btn btn-success font-weight-bold d-inline-flex" %>
              </div>
            </div>
          <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>

<!--合計金額-->
    <div class="col-md-3  align-self-end">
      <table>
        <tr>
          <th>合計金額</th>
          <%=# @cart_item.item.add_tax_price * @cart_item.amount.to_s(:delimited) %>
        </tr>
      </table>
    </div>
  </div>
</div>
