<!--タイトル-->
<div class="container" style="min-height: 480px;">
  <div class="row mt-3 mb-4">
    <div class="col-3 offset-1">
      <h5 class="bg-gray px-1 text-center">注文情報確認</h5>
    </div>
  </div>

<!--商品情報-->
  <div class="row">
    <div class="col-9">
      <table class="table">
        <tr class="bg-gray">
          <th class="border border-dark px-1 py-2auto">商品名</th>
          <th class="border border-dark px-1">単価（税込）</th>
          <th class="border border-dark px-1">数量</th>
          <th class="border border-dark px-1">小計</th>
        </tr>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td class="border border-dark px-1 py-0auto">
            <div class="row">
              <div class="col-2 pr-0">
                <%= image_tag cart_item.item.get_image(25,25) %>
              </div>
              <div class="col-10 pl-0">
                <%= cart_item.item.name %>
              </div>
            </div>
          </td>
          <td class="col-2 border border-dark px-1"><%= cart_item.item.with_tax_price.to_s(:delimited)  %></td>
          <td class="col-2 border border-dark px-1"><%= cart_item.amount %></td>
          <td class="col-2 border border-dark px-1"><%= cart_item.subtotal.to_s(:delimited) %></td>
        </tr>
        <% end %>
      </table>
    </div>

<!--送料・合計・請求金額-->
    <div class="col-3">
      <table>
        <tr>
          <th class="col-2 bg-gray border border-dark px-1 py-2">送料</th>
          <td class="col-2 border border-dark px-1 py-2">
            <%= @order.postage.to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <th class="bg-gray border border-dark px-1 py-2">商品合計</th>
          <td class="border border-dark px-1 py-2">
            <%= @total.to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <th class="bg-gray border border-dark px-1 py-2">請求金額</th>
          <% @order.pay_amount = @order.postage + @total %>
          <td class="border border-dark px-1 py-2">
            <%= @order.pay_amount.to_s(:delimited) %>
          </td>
        </tr>
      </table>
    </div>
  </div>

<!--支払方法・お届け先-->
  <div class="row">
    <div class="col-2 my-2">
      <strong>支払方法</strong>
    </div>
    <div class="col-10 my-2">
      <%= @order.payment_methods_i18n %>
    </div>
    <div class="col-2 my-3">
      <strong>お届け先</strong>
    </div>
    <div class="col-10 my-3">
      〒<%= @order.delivery_target_postal_code %> <%= @order.delivery_address %><br>
      <%= @order.delivery_target_full_name %>
    </div>
  </div>

<!--注文内容送信欄-->
  <div class="row mt-4 mb-3 justify-content-center">
    <div class="col-3">
      <%= form_with model: @order do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :delivery_target_postal_code %>
        <%= f.hidden_field :delivery_address %>
        <%= f.hidden_field :delivery_target_full_name %>
        <%= f.hidden_field :postage %>
        <%= f.hidden_field :pay_amount %>
        <%= f.hidden_field :payment_methods %>
        <%= f.hidden_field :status %>
        <%= f.submit "注文を確定する", class: "btn btn-success font-weight-bold w-75" %>
      <% end %>
    </div>
  </div>
</div>
