<!--タイトル-->
<div class="container_fuluid mx-5", style="min-height: 480px;">
  <div class="row mb-4">
    <div class="col-4">
      <div class="row">
        <div class="col-7 offset-2">
          <h5 class="bg-gray mt-4 px-1 text-center">注文履歴一覧</h5>
        </div>
      </div>
    </div>
  </div>

<!--履歴-->
  <div class="row">
      <table class="table w-100">
        <tr class="bg-gray">
          <th class="border border-dark px-1">注文日</th>
          <th class="col-5 border border-dark px-1">配送先</th>
          <th class="col-2 border border-dark px-1">注文商品</th>
          <th class="border border-dark px-1">支払金額</th>
          <th class="border border-dark px-1">ステータス</th>
          <th class="border border-dark px-1">注文詳細</th>
        </tr>
        <% @orders.each do |order| %>
        <tr>
          <td class="border border-dark py-0auto px-1"><%= order.created_at.strftime('%Y/%-m/%-d') %></td>
          <td class="border border-dark py-0 px-1">
            〒<%= order.delivery_target_postal_code %><br>
            <%= order.delivery_address %><br>
            <%= order.delivery_target_full_name %>
          </td>
          <td class="border border-dark py-0auto px-1">
          <% order.order_details.all.each do |order_detail| %>
            <%= order_detail.item.name %><br>
          <% end %>
          </td>
          <td class="border border-dark py-4 px-1"><%= order.pay_amount.to_s(:delimited) %>円</td>
          <td class="border border-dark py-4 px-1"><%= order.status_i18n %>
          <td class="border border-dark py-3 pt-3 px-1 text-center">
            <%= link_to "表示する", order_path(order.id), class: "btn btn-primary font-weight-bold mt-1 py-1 px-2" %>
          </td>
        </tr>
        <% end %>
      </table>

  </div>
</div>