<!--タイトル-->
<div class="container_fuluid mx-5" style="min-height: 480px;">
  <div class="row mb-4">
    <div class="col-4">
      <div class="row">
        <div class="col-7 offset-3">
          <h5 class="bg-gray mt-4 px-1 text-center">注文履歴詳細</h5>
        </div>
      </div>
    </div>
  </div>

<!--注文情報-->
   <div class="row">
    <div class="col-md-8 align-self-start">
      <strong>注文情報</strong>
      <table class="table mt-2">
        <tr>
          <th class="bg-gray border border-dark px-1">注文日</th>
          <td class="border border-dark px-1"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th class="bg-gray border border-dark px-1">配送先</th>
          <td class="border border-dark px-1 py-1">
            〒<%= @order.delivery_target_postal_code %><br>
            <%= @order.delivery_address %><br>
            <%= @order.delivery_target_full_name %>
          </td>
        </tr>
        <tr>
          <th class="bg-gray border border-dark px-1">支払方法</th>
          <td class="border border-dark px-1"><%= @order.payment_methods_i18n %></td>
        </tr>
        <tr>
          <th class="bg-gray border border-dark px-1">ステータス</th>
          <td class="border border-dark px-1"><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>

<!--請求情報-->
    <div class="col-md-4">
      <strong>請求情報</strong>
      <table class="table mt-2">
        <tr>
          <th class="col-8 bg-gray border border-dark px-1">商品合計</th>
          <td class="col-4 border border-dark px-1"><%= @order.pay_amount.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="col-8 bg-gray border border-dark px-1">配送料</th>
          <td class="col-4 border border-dark px-1"><%= @order.postage.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="col-8 bg-gray border border-dark px-1"><strong>ご請求額</strong></th>
          <td class="col-4 border border-dark px-1"><%= (@order.pay_amount + @order.postage).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

<!--注文内容-->
  <div class="row mb-5">
    <div class="col-md-10 align-self-start">
      <strong>注文内容</strong>
      <table class="table mt-2">
        <tr class="bg-gray">
          <th class="col-7 border border-dark px-1">商品</th>
          <th class="border border-dark px-1">単価（税込）</th>
          <th class="border border-dark px-1">個数</th>
          <th class="border border-dark px-1">小計</th>
        </tr>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td class="border border-dark px-1"><%= order_detail.item.name %></td>
          <td class="border border-dark px-1"><%= order_detail.item.with_tax_price %></td>
          <td class="border border-dark px-1"><%= order_detail.amount %></td>
          <td class="border border-dark px-1"><%= order_detail.item.with_tax_price * order_detail.amount %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>