<div class="container">
<!--ジャンル-->
  <div class="row">
    <div class="col-2">

    </div>
<!--詳細-->
    <div class="col-3">
      <%= image_tag @item.get_image(200,200) %>
    </div>
    <div class="col-7">
      <h5><%= @item.name %></h5>
      <span class="mb-5"><%= @item.introduction %></span>
      <div class="mt-5"><strong>￥<%= @item.add_tax_price.to_s(:delimited) %></strong>（税込）</div>
      <div class="row">
        <div class="col-6">
          個数選択
        </div>
        <div class="col-6">
          <%= link_to "カートに入れる", cart_items_path, class: "btn btn-success font-weight-bold d-inline-flex" %>
        </div>
      </div>
    </div>
  </div>
</div>