<div class="container mt-5 mx-auto" style="min-height: 480px;">
  <div class="row">

<!--ジャンル検索-->
    <div class="col-2">
      <%= render 'public/homes/genre' %>
    </div>

<!--写真-->
    <div class="col-4 mt-1">
      <%= image_tag @item.get_image(250,250) %>
    </div>

<!--情報-->
    <div class="col-6 mt-3">
      <h3><strong><%= @item.name %></strong></h3>
      <p class="mb-5"><%= @item.introduction %></p>
      <h3 class="mt-5"><strong>￥<%= @item.with_tax_price.to_s(:delimited) %></strong><small class="h6">（税込）</small></h3>
      <%= form_with model: @cart_item do |f| %>
        <div class="row mt-5 align-items-center">
          <div class="col-4">
            <%= f.select :amount, *[1..10], prompt: "個数選択" %>
            <%= f.hidden_field :item_id, :value => @item.id %>
          </div>
          <div class="col-6">
            <%= f.submit 'カートに入れる', class: "btn btn-success font-weight-bold d-inline-flex" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>