<div class="container">
<!--ジャンル-->
  <div class="row">
    <div class="col-2">
      <%= render 'public/homes/genre' %>
    </div>
<!--詳細-->
    <div class="col-3">
      <%= image_tag @item.get_image(200,200) %>
    </div>
    <div class="col-7">
      <h5><%= @item.name %></h5>
      <span class="mb-5"><%= @item.introduction %></span>
      <div class="mt-5"><strong>￥<%= @item.add_tax_price.to_s(:delimited) %></strong>（税込）</div>
      <div class="row">
        <div class="col-6">
        <%= form_with model: CartItem.new do |f| %>
          <%= f.select :amount, *[1..10] %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
        </div>
        <div class="col-6">
          <%= f.submit 'カートに入れる', class: "btn btn-success font-weight-bold d-inline-flex" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>